html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.app__video {
  position: relative;
  height: 700px;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.app__video::-webkit-scrollbar {
  display: none;
}

.app__video {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
